{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="p-1 mb-2 bg-secondary text-white" style="font-size:150%">Profile</div>
    <form action="/seller_profile" id="s-profile" method="post">
        <div class="form-group">
            Shop Name : <input autofocus class="form-control" name="shop_name" value="{{row[0].shop_name}}" type="text" readonly/>
        </div>

        <div class="form-group">
            Name : <input  autofocus class="form-control" name="seller_name" value="{{row[0].seller_name}}" type="text" readonly />

        </div>

    <div class="container" id="s-map-edit" style="display:none">
    <div class="row justify-content-md-center">
    <div id="s-map" style="height:250px; width:100% "> </div>
    </div></div>
    <br>
    <div class="form-group">
        Location : <input type="text" placeholder="latitude" value="{{row[0].latitude}}" id="latitude" name="latitude" readonly/> <input id="longitude" type="text" name="longitude" value={{row[0].longitude}} placeholder="longitude" readonly/>

    </div>


        <div class="form-group ">
            Address : <input  autofocus class="form-control" name="street_name" value="{{row[0].street_name}}" type="text" readonly/>
           &nbsp &nbsp City :  <input  autofocus class="form-control" name="city" value="{{row[0].city}}"  type="text" readonly/>
        </div>
         <div class="form-group" >
        State :<select name="state" id="state" disabled="true">
            <option selected value={{row[0].state}}>{{row[0].state}}</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Orissa">Orissa</option>
            <option value="Pondicherry">Pondicherry</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttaranchal">Uttaranchal</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>
            </select>
           &nbsp &nbsp Pin Code: <input class="form-control" name="pin"  value="{{row[0].pin}}" type="text" readonly/>
        </div>
        <div class="form-group">
           Email_Id: <input  autofocus class="form-control" name="email" value="{{row[0].email}}" type="text" readonly/>
        </div>

         <div >
             <button class="btn btn-primary" type="submit" id="s-save" style="display:none">Save</button> &nbsp&nbsp&nbsp&nbsp
             <button class="btn btn-primary" type="button" id="s-edit" style="cursor: pointer">edit</button>
     </div>
    </form>


{% endblock %}