{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<div class="p-1 mb-4 bg-secondary text-white" style="font-size:150%">Change Password</div>
    <form action="/seller_password" id="s_password" method="post">
        <div class="form-group">
            <input autofocus class="form-control" name="password" placeholder="Current Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="n_password" placeholder="New Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="cn_password" placeholder="Confirm New Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <script>
        $(document).ready(function(){
            $("#s_password").submit(function(){
                if($("#s_password input[name=n_password]").val() != $("#s_password input[name=cn_password]").val())
                {
                    alert("Passwords are not matching");
                    return false;
                }
        });});
    </script>
{% endblock %}